<%= render 'shared/content_title', title: @post.title %>

<% if logged_in? %>
<div class='pull-right'>
	<%= link_to "Edit This Post", edit_post_path(@post) %>
</div>
<% end %>



<p>
  <%= render @post.categories %>
</p>


    <p><%= @post.description %></p>

<% if logged_in? %>
<%= form_for [@post, @comment] do |f| %>
  <%= render 'shared/errors', obj: @comment %>
    <div class="control-group">
    	<%= f.label :body, "Leave a Comment" %>
    	<%= f.text_area :body, rows: 3 %>
    </div>
      <%= f.submit "Create Comment", class: "btn btn-primary" %>
  <% end %>
<% end %>

  <% @post.comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>








  






  



  

  


  
